button{
    padding: 20px;
    background-color: #000000;
    color: lime;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 10px; /* Dar un poco de espacio entre botones */
}

button:hover{
    background-color: lime;
    color: #000000;
    box-shadow: 0 0 5px lime,
                0 0 25px lime,
                0 0 50px lime,
                0 0 200px lime;      
}

.container {
    display: flex; /* Hacer que los elementos hijos (botones) se dispongan en línea */
    justify-content: center; /* Centrar los elementos hijos (botones) horizontalmente */
}

.spiral{
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes spiral{
  0%{
    --angle: 0deg;
  }
  
  100%{
    --angle: 360deg;
  }
}

.character{
  color: lime;
  font-size: 4em;
  transform: translateY(calc(sin(var(--angle))* 100px)) scale(calc(cos(var(--angle)) * 0.5 + 0.5)); 
  animation: spiral 4s linear infinite;
}

.centrador{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*
img:hover {
  box-shadow: 0 0 15px lime;  
  transition: box-shadow 0.3s ease;
}
*/

.typing-container {
  font-family: 'VT323', monospace;
  white-space: nowrap;
  overflow: hidden;
}

.blinker {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
