

.calendar-container {
    position: relative;
    width: 100%; /* Asegura que ocupa todo el ancho disponible */
    padding-top: 50%; /* Ajusta esto para cambiar la relación de aspecto */
    overflow: hidden;
}



.calendar-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border: 0;
}
@media (max-width: 768px) {
    .calendar-container {
        padding-top: 75%; /* Mayor altura para pantallas más estrechas */
    }
}

@media (max-width: 480px) {
    .calendar-container {
        padding-top: 100%; /* Aún más alto para teléfonos en modo vertical */
    }
}